<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verifikasi</title>
  </head>
  <body>
    <center>
      <!-- <img
        src="https://static.wikia.nocookie.net/naruto/images/d/dd/Naruto_Uzumaki%21%21.png/revision/latest?cb=20161013233552"
      /> -->
      <h1 style="color: rgb(53, 72, 107)">
        hello {{nama}}, ini link verifikasinya :
        <a href="http://localhost:3000/verified?token={{token}}"> klik ini</a>
        <!-- <a href="http://localhost:3000/verified/{{token}}"> klik ini</a> -->
      </h1>
    </center>
  </body>
</html>
