<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Email Verifikasi</title>
    </head>
    <body>
        <center>
            <h1>You're almost there!</h1>
            <h4>Hi, {{name}}</h4>
            <h4 href="http://localhost:3001/verify/{{token}}">Finish setting your account by verifying through the link below</h4>
            <h4 style="margin-top: 16px;">
                <a 
                    href="http://localhost:3001/verify/{{token}}" 
                    style="
                        background-color: lightgray; 
                        border-radius: 4px; 
                        color: black; 
                        padding: 12px; 
                        text-decoration: none;
                    "
                >
                    Verify yourself
                </a>
            </h4>
        </center>
    </body>
</html>